{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!
{% endblock %}

{% block body %}
	<h1>
		HELLO !!!
	</h1>
	<h1>
		Tu viens de :{{ ville }}
	</h1>

	<h1>
		Ville composé de :
		{{ habitants}}
		habitants.
	</h1>

	{% if habitants >= 10000 %}
		<p>
			C'est une grande ville
		</p>
	{% elseif habitants >= 1000 %}
		<p>
			c'est une petite ville
		</p>
	{% elseif habitants < 1000 %}
		<p>
			C'est un village
		</p>
	{% endif %}

{% endblock %}
